
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
release
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# BlockyCRAFT Game Files (Large assets)
instance.zip
libraries.zip
allfrominstance.zip
gamedata/
instances/
temp_natives/
temp_extract/
core

# Log
LOG.md  
DEBUG.md
PROMPT.md

# Dist out
dist-out/
*.AppImage